<?xml version="1.0"?>
<app>
  <Objects>
    <object name= "SIMDAQ" class = "SIMDAQ"></object>
    <object name= "A1" class = "SIMAnalysis"></object>
  </Objects>

  <Links>
    <link writer = "SIMDAQ" reader = "A1" data = "EventClassArray"></link>
    <link writer = "SIMDAQ" reader = "A1" data = "EventClassVector"></link>
  </Links>
</app>
